.SuccessStep-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-size: 16px;
    position: relative;
    top: -60px;
    /* TODO: move this fade animation to a global import to make sure it's always available for this component. */
    animation: fade 2s ease;
}

@media screen and (min-width: 768px) {
    .SuccessStep-container {
        top: -80px;
    }
}

.SuccessStep-container h1 {
    margin-bottom: 50px;
}