.DefaultInput-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.DefaultInput-container label {
    font-size: 40px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 20px;
}

.DefaultInput-container input {
    border: none;
    border-bottom: 2px solid white;
    background: none;
    color: white;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.DefaultInput-container.error input {
    border-color: red;
}

.DefaultInput-error {
    color: red;
    font-size: 18px;
    font-weight: 500;
    min-height: 27px;
}