@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.DefaultInput-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
    opacity: 1;
    /* position: relative; */
    animation: fade 1s ease;
    color: #d6d1d1;
}

.DefaultInput-container label {
    font-size: 40px;
    font-weight: 500;
    width: 100%;
}

.DefaultInput-container p {
    font-size: 12px;
    margin-bottom: 20px;
}


.DefaultInput-container input {
    border: none;
    border-bottom: 2px solid #d6d1d1;
    background: none;
    color: inherit;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.DefaultInput-container.error input {
    border-color: #992215;
    /* border-color: #f0be49; */
    /* border-color: #f0be49; */
    border-width: 3px;
}

.DefaultInput-error {
    color: #992215;
    /* color: #bc1300; */
    /* color: #f0be49; */
    /* color: #bc0000; */
    font-size: 18px;
    font-weight: 500;
    min-height: 27px;
}